<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.8.0" targetFramework="net461" />
  <package id="CompareNETObjects" version="4.66.0" targetFramework="net461" />
  <package id="CoreCLR-NCalc" version="2.2.70" targetFramework="net461" />
  <package id="CsvHelper" version="15.0.5" targetFramework="net461" />
  <package id="Dapper" version="2.0.35" targetFramework="net461" />
  <package id="DiffPlex" version="1.6.2" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.7.9" targetFramework="net461" />
  <package id="jnm2.ReferenceAssemblies.net35" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net461" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="MySqlConnector" version="0.64.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net461" />
  <package id="PoorMansTSqlFormatterRedux" version="1.0.3" targetFramework="net461" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net461" />
  <package id="SqlParserSharp" version="1.0.1" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="TSQL.Parser" version="1.5.0" targetFramework="net461" />
  <package id="Westwind.Utilities" version="3.0.37" targetFramework="net461" />
</packages>